<% content_for :title, "New category" %>

<%= render "form", category: @category %>

<br>

<div class="d-flex justify-content-end mr-5">
  <%= link_to "Back to Category", categories_path, class: 'btn navBtn text-white' %>
</div>

